<div id="backgorund">
    <!--Navigation Section Start Here-->
    <section>
        <div>
            <div class="container-fluid">
                <div class="row">
                
                    <div class="error_section_background">
                        <div class="card">
                        <div class="error_section">
                            <div class="error_image ">
                                <img src="../../../assets/images/error_img.png" alt=""></div>
                            <h3>No Records Found</h3>
                            <button class="refresh_btn" (click)="addTemplate()">Refresh</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </section>
<!--Navigation Section End Here-->
    </div>